body{
  background-color: black;
}

header {
  background-color: #f5f5f5;
  height: 150px;
}

b{
  font-family: sans-serif;
}

nav{
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 65%;
  clear: both;
}

.content-container{
  position: relative;
  margin: 0 auto;
  width: 65%;
  background-color: white;
  padding-bottom: 15px;
}

.image{
  position: relative;
  margin: 0 auto;
  width: 65%;
}

.image img{
  width: 100%;
}

.logo-container{
  width: 250px;
  flex: 1;
}

header nav .logo-container .logo img{
  width: 200px;
  margin: 20px;
}

header nav .logo-container .logo-text{
  margin-left: 20px;
}

.profile-container{
  width: 500px;
  height: 60px;
  margin-top: 15px;
  background-color: #dbd9d9;
  border: 1px inset #030C12;
border-radius: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;

}

.button-1 {
  margin: 5px 0px 0px 10px;
  float: left;
  width: 40%;
}

.button-2{
  width: 40%;
  float: right;
}

header * a{
  text-decoration: none;
  color: black;
}

.catalogue-items{
  display: flex;
  flex-wrap: wrap;
    justify-content: center;

}

.username-container{
  position: relative;
  margin-top: 5px;
  margin-left: auto;
  order: 2;
}

.navbuttons-container {
  margin-left: auto;
  order: 3;
  display: flex;
  position: relative;
  margin-top: 15px;
  width: 500px;
  height: 60px;
}

.navbutton1, .navbutton2, .navbutton3 {
  margin-right: 20px;
  border-left: 1px solid black;
  padding: 10px;
  text-align: center;
}

.navbutton3{
  border-right: 1px solid black;
}

.item{
  margin: 40px;
  box-shadow: 2px 0px 17px -7px rgba(0,0,0,0.75);
}

.sale{
  font-size: 20px;
  background-color: black;
  color: orange;
  position: relative;
  padding: 14px;
  margin-right: 10px;
  box-shadow: 18px 44px 81px -1px rgba(0,0,0,0.8);
  top: -300px;
  right: -320px;
}

.item-name{
  font-size: 15px;
  position: relative;
  top: -20px;
  left: -100px;
}

.item-button {
  float: left;
  position: relative;
  top: 50px;
  background-color: black;
  color: white;
  padding: 9px;
  text-decoration: none;
}

footer{
  background-color: #373737;
  margin-top: 10px;
}

.footer-button-container{
  width: 30%;
  background-color: grey;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 0px 0px 10px 10px;
}


.footer-buttons{
  display: flex;
  justify-content: center;
}

.dot{
  width: 12px;
  height: 12px;
}

.footer-button1 {
  margin-right: 20px;
  padding-top: 15px;
  font-weight: bold;
}

footer * a{
  text-decoration: none;
  color: white;
}

.footer-text-container, .footer-social-conteiner{
  padding-top: 20px;
  width: 60%;
  margin: 0 auto;
}

.footer-text-items, .footer-social-items{
  justify-content: center;
  display: flex;
}

.footer-text-item{
  width: 15%;
  color: white;
  margin-right: 30px;
  text-align: center;
}
