*{
	margin: 0;
	margin-bottom: 0;
}
a{
	color: black;
}
nav{
	width: 1052px
}
body{
	background: black;
}
header{
	display: flex;
flex-direction: row-reverse;
justify-content: center;
	background: white
}
nav, .menudroite{
	display: flex;
	justify-content: space-between;   
}
.logo img{
	display: block;
	flex-direction: column;
}
.logo{
	padding-top: 40px;
}
.droite{
	padding-top: 20px;
}
span::after{
	content: "sit amet";
	color:gold;
}
span{
	font-size: 20px;
	padding-left: 50px;
}
.moncompte ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border:solid 1px;
	width: 400px;
	padding: 10px;
}
.moncompte ul li, a{
	text-decoration: none;
	list-style-type: none;
}
.moncompte ul li:nth-child(2),.moncompte ul li:nth-child(4){
	position: relative;
	top: 15px;
}
.user{
	position: relative;
	left: 311px;
	padding-top: 15px;
}
.contact ul{
	list-style-type: none;
	border-right: solid 1px;
}
.contact li{
	display : inline-block;
	width: 30%;
	text-align: center;
	border-left: solid 1px;
}
.catalogue{
	background: white;
	width: 1051.99px;
	height: auto;
}
.gant{
	width: 400px;
	box-shadow:rgb(128,128,128) 1px 4px 8px 6px;
}
.article{
	width: 450px;
	display: inline-block;
	padding-top: 30px;
}
.article ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;	
}
.article ul li{
	padding-top: 10px; 
}

.article ul li a{
	background: black;
	color: white;
	padding: 4px 20px 4px 20px;
}
.nouveauprix{
	text-decoration: none;
	color: gold;
	font-size: 25px;
	margin-left: 10px;
}
.prixancien{
	text-decoration: line-through;
}
.reduction{
	background: black;
	display: inline-block;
	width: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    bottom: 402px;
    left: 190px;
    border-radius: 5px 5px;
   	border:solid 2px #1E2020;
  	box-shadow: inset 0px 0px 19px 4px rgba(155, 155, 155, 0.51);
-moz-box-shadow: inset 0px 0px 19px 4px rgba(155, 155, 155, 0.51);
-webkit-box-shadow: inset 0px 0px 19px 4px rgba(155, 155, 155, 0.51);
}
.reduction strong{
	color: gold;
}
.espace{
    height: 22px;
    background: #3A3C3C;
    margin-top: -68px;
    margin-bottom: -33px;
}
.espace1{
	height: 50px;
}
footer{
	background: #3A3C3C;
	text-align: center;
	padding-top: 42px;
	color: white;
}
.nous ul{
	display: flex;
	justify-content: space-around;
    list-style-type: none;        
    box-shadow: 2px 2px 7px 0px;
    width: 391px;
    background: white;
    position: relative;
    top: 33px;
    padding: 16px 0px 9px 0px;
    border-radius: 0px 0px 9px 9px;
}
.nous ul li{
	padding-right: 20px;
	background: white;
}
.nous{
display: flex;
justify-content: center;
}
.nous ul li:nth-child(2)::before,.nous ul li:nth-child(3)::before,
.nous ul li:nth-child(4)::before{
	content: "•"
}

footer .mentions{
	text-align: center;
	display: inline-block;
}
.sujet{
	height: 150px;
	width:150px;
}
.folow a img{
	padding-left: 30px;
}