
/**
* Tu avais nommé ton fichier css
* tu as fait tpboxe.css.css
**/

/*
* Il te manque des images ?? 
je ne crois pas 
j'ai indiqué leur adresse dans mon html (qui a aussi un problème de nom)
non regarde dans ton HTML tu appelle cette image icon-mon-compte.png 
mais elle est pas à gauche 

LAiise moi faire 
comment avez-vous fait opur centrer le logo ?
c'est ton css 
j'ai juste ajouter des images 
mais mon css ne fonctionnait pas et mon tableau contenant les gants de boxe n'est pas centré
C'est ce que je t'ai dit tout à l'heure, tu avais mal nommé oton fichier, tu l'avais appelé tpboxe.css.css (2 fois .css)
 j,' ai rjemanoimmé  aussi mis 2 fois html
 raegoui 


 regarde bien ton hml,tu as fais tpboxe,html.html virgule html et point html
 je corrige ?
à présent mes fichiers ont disparu du navigateur
vous êtes là ?


*/

body{
	background: white;
}
div{
	background: white;
}
.conteneur{
	width: 100%;
	height: auto;
	background: gray;
	padding: 0%
}
.compte_panier{
	text-align: center;
	border: black;
}
img.compte_panier{
	width: 2%;
	height:2%;
	text-align: right;
}
nav{
	background: white;
	text-align: auto;
	width: auto;
}
nav.logo{
	text-align: left;
}
nav.connecter{
	text-align: right;
}
.flyer_boxingfight{
	background: gray;
}
.img.flyer{
	width:90%;
	margin-bottom:0%;
	margin-left:30px;
	margin-right:0%; 
	border:2px;
	position: relative;
	text-align: center;
}
table{
	background: gray;
	text-align: center;
}
tr td div.flyer_boxingfight{
	width:70%;
	position: relative;
}
img{
	width:70%;
	margin-top: 0%;
	margin-bottom:0%;
	margin-left:10%;
	margin-right:10%; 
	border:2px;
	position: relative;
	text-align: center;
}
nav.bottom{
	width:100%;
	height: 7%;
	color: grey;
}
footer{
	text-align: center;
}
footer.div{
	display: inline-flex; 
	left: 25%;
	right: 25%;
	background: white;
}
footer.final{
	background: gray;
	border-top:3%;
	border-left: 18%;
	border-right: 18%;
}
table.final{
	width: 3%;
	height:3%;
	display: inline-table;
	text-align: center;
}