body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 80px;
}
.image_logo_texte{
	display: flex;
 	position: relative;
 	justify-content: center;
}
.image_logo_texte img:first-child{width: 100%;}
.image_logo_texte img:nth-child(2){
 	position: absolute;
 	top: 20px;
 	right: 20px;
 	width: 100px;
}
.image_logo_texte .texte_sur_image{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 250px;
}
.image_logo_texte .texte_sur_image data{
	display: block;
 	color: white;
 	padding: 0 20px;
}
.image_logo_texte .texte_sur_image .gauche{font-size: 80px;}
.image_logo_texte .texte_sur_image .droite{
 	border-left: solid 15px green;
 	font-size: 40px;
}
.description{
	display: flex;
	flex-direction: column;
	margin: 50px 0;
}
.description data{margin: 30px 0 10px;}
.description a:first-child{font-size: 20px;}
#horaires{
	border: solid green 2px;
	background: lightgrey;
	text-align: center;
	border-collapse: collapse;
	margin: 20px 0;
	width: 500px;
}
#horaires caption{
	font-size: 30px;
	font-weight: bold;
	color: darkgrey;
	text-align: left;
}
#horaires th, #horaires td{
	border: solid green 1px;
	padding: 10px;
}
#horaires th{
	font-weight: bold;
	color: blue;
	text-align: left;
}
#horaires tr:first-child th{color: black;text-align: center;}
#horaires tr:nth-child(7), #horaires tr:nth-child(8){background: grey;}
#horaires tr:nth-child(7), #horaires tr:nth-child(8) td{color: yellow;}

.urgence{margin-bottom: 50px;}
.adresse p{color: red;}
.carte{margin-bottom: 50px;}
.carte h3{color: orange; margin: 10px 0 0;}
